.button {
  padding: .5rem;
}

.button:hover {
  background: black!important;
}

.greenButton,
.greenButton:focus {
  background: #13C290!important;
  border: #13C290!important;
}

.cancelButton,
.cancelButton:focus {
  background: #C44F4F!important;
  border: #C44F4F!important;
}

.yellowButton,
.yellowButton:focus {
  background: #FF9900!important;
  border: #FF9900!important;

}